<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Task App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/project/create">Create project</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/project">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="projects-container">
    <h2 class="title"><span class="dot"  th:style="@{background: } + ${project.hexColor}"></span>Project: <span th:text="${project.name}"></span></h2>
    <a th:href="@{/project/} + ${project.id} + @{/task/create}" class="btn btn-primary no-link margin-btn">Create task</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Schedule date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tr:block th:each="task : ${project.tasks}">
            <td style="width: 30%" th:text="${task.name}"/>
            <td th:text="${task.description}" style="width: 40%"/>
            <td th:text="${task.scheduleDate}" style="width:20%"/>
            <td style="width: 10%">
                <a th:href="@{/project/} + ${project.id} + @{/task/} + ${task.id} + @{/edit}" class="btn btn-primary no-link margin-btn">Edit</a>
                <a th:href="@{/project/} + ${project.id} + @{/task/} + ${task.id} + @{/delete}" class="btn btn-danger no-link margin-btn">Delete</a>
            </td>
        </tr:block>
    </table>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>