<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Task App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/project/} + ${projectId} + @{/task/create}">Create task</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/project">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="register-form">
    <h1 class="register-form__title title">Edit task: <span th:text="${task.name}" /></h1>
    <form th:action="@{/project/} + ${projectId} + @{/task/edit}" th:object="${task}" method="post">

        <input type="hidden" th:field="*{id}" />
        <div class="group">
            <div class="form-group">
                <label>Name: </label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label>Description: </label>
            <input class="form-control" th:field="*{description}" type="text">
        </div>
        <div class="form-group">
            <label>Date: </label>
            <input type="date" class="form-control" th:field="*{scheduleDate}" placeholder="">
            <small class="form-text text-muted">Choose date when task should be executed.</small>
        </div> <!-- form-group end.// -->


        <div class="form-group text-danger" th:text="${errors}" />

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Edit </button>
        </div> <!-- form-group// -->
    </form>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>