<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="home-container">
    <div class="home-container-app">
        <h1 class="title home-container__title">Task App</h1>
        <p class="home-container__about">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, architecto deserunt dignissimos excepturi impedit natus officia optio quidem reiciendis soluta. Ab autem ea eaque harum officia quia quis ratione reiciendis.
        </p>
    </div>
    <div th:if="${logged}" style="width:100%; text-align: center;" class="flex-container flex-center">
        Welcome,  <span th:text="${login}" />
    </div>

    <div th:unless="${logged}">
        <div class="flex-container flex-center">
            <a href="/login" class="btn btn-primary">
                Sign in
            </a>
            <a href="/sign-up" class="btn btn-default">
                Sign up
            </a>
        </div>
    </div>

    <ul class="flex-container app-benefits">
        <li>
            <img src="/images/projects.png" alt="">
            <h2>Projects</h2>
            <p>Manage your duties sorting tasks by projects</p>
        </li>
        <li>
            <img src="/images/tasks.png" alt="">
            <h2>Tasks</h2>
            <p>Create tasks to do on chosen date</p>
        </li>
        <li>
            <img src="/images/email.png" alt="">
            <h2>Colors</h2>
            <p>Color your projects by chosen color.</p>
        </li>
    </ul>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>